/* Etc. */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

Body {
    background-color: black;
    cursor: none;
    overflow-x: hidden;
}

/* Cursor */

.cursor {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border: 2px solid #ff0000bb;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background-color, border, transform;
    transform-origin: 100% 100%;
}

.link-grow {
    transform: scale(2);
    border: white;
    background-color: white;
    z-index: 4;
}

.burger-grow {
    transform: scale(2);
    border: gold;
    background-color: gold;
    z-index: 1;
}

.txt-grow {
    transform: scale(3);
    border: white;
    background-color: white;
    transform-origin: 70% 70%;
}

.zyzz-grow {
    transform: scale(3);
    border: #ffffffbb;
    background-color: #ffffffbb;
    transform-origin: 50% 50%;
}

.mobile-menu-bg-grow {
    z-index: 5;
}

/* End of cursor */

/* Navbar */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: "Nunito", sans-serif;
    background-color: black;
    position: relative;
    padding: 35px 20px;
}

.logo {
    z-index: 5;
}

.logo a {
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    transition: 0.5s;
    text-decoration: none;
    cursor: none;
}

.logo a:hover {
    color: red;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    transition: all 0.3s ease;
    z-index: 5;
}

.mobile-menu-bg {
    transition: all 0.3s ease;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    padding: 0px 10px;
    cursor: none;
}

.nav-links li a:after {
    content: "";
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-links li a:hover:after {
    width: 100%;
}

.nav-links a:hover {
    color: #c20000;
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 10;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* End of Navbar */

/* Page 1 */

.banner {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    color: white;
    overflow-x: hidden;
}

.banner img {
    transform: scale(0.8);
    left: -5%;
    position: relative;
    z-index: 3;
}

.banner img:hover {
    mix-blend-mode: difference;
}

.text-box {
    top: 0;
    left: 0;
    position: relative;
    height: 100vh;
    width: 120vh;
    left: 5%;
}

.banner h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 9rem;
    top: 35%;
    position: relative;
    left: 15%;
    z-index: 3;
    transition: all 0.3s ease;
    width: 35rem;
}

.banner .never {
    color: red;
    font-size: 9rem;
    display: inline;
    border-right: 10px solid red;
    width: 36%;
    animation: blink 0.8s infinite ease;
    padding-right: 8px;
}

.banner h1:hover {
    mix-blend-mode: difference;
}

@keyframes blink {
    50% {
        border-right: none;
    }
}

/* Page 2 */
.page2 {
    height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.zyzz {
    position: relative;
    top: 30vh;
    left: 280px;
    max-width: 300px;
    min-height: 300px;
    background-image: url(/src/zyzz-fistpump.gif);
    background-size: cover;
    background-position: center;
}

.page2 h1 {
    position: relative;
    top: -15vh;
    left: 800px;
    max-width: 300px;
    font-size: 50px;
    text-align: right;
    z-index: 3;
    transition: all 0.3s ease;
}

.page2 h1:hover {
    mix-blend-mode: difference;
}

.page2 h3 {
    position: relative;
    top: -5vh;
    left: 700px;
    max-width: 400px;
    text-align: justify;
    z-index: 3;
    transition: all 0.3s ease;
}

.page2 h3:hover {
    mix-blend-mode: difference;
}

.page2 h3 a {
    text-decoration: none;
    color: red;
    transition: all 0.3s ease;
    z-index: 3;
    cursor: none;
}

.page2 h3 a:hover {
    color: #00FF77;
    mix-blend-mode: difference;
}

@media screen and (max-width: 1300px) {
    .nav-links {
        width: 50%;
    }
    .banner img {
        transform: scale(0.7);
        left: -10%;
    }
}

@media screen and (max-width: 1080px) {
    .nav-links {
        width: 55%;
    }
    .banner img {
        transform: scale(0.7);
        left: -15%;
        top: 3%;
    }
}

@media screen and (max-width: 1050px) {
    .banner img {
        display: none;
    }
    .banner .text-box {
        align-items: center;
        left: 5%;
        min-width: 210vh;
    }
    .banner .text-box .never {
        left: 17%;
    }
}

@media screen and (max-width: 836px) {
    .banner .text-box {
        left: -3%;
    }
    .banner .text-box .never {
        left: 17%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        color: white;
        z-index: 5;
    }

    .mobile-menu-bg {
        width: 50%;
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5 ease-in;
        background: #000000cc;
        z-index: 3;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .banner .text-box {
        left: -7%;
    }

    .banner .text-box .never {
        left: 17.5%;
        z-index: 2;
    }

    .banner .text-box .Give-Up {
        z-index: 2;
    }
}

@media screen and (max-width: 648px) {
    .banner h1 {
        font-size: 7rem;
    }

    .banner .never {
        font-size: 7rem;
    }

    .banner .text-box .never {
        left: 16.5%;
        z-index: 2;
    }

    .banner .text-box {
        left: -11%;
    }
}

@media screen and (max-width: 550px) {
    .banner h1 {
        font-size: 7rem;
    }

    .banner .never {
        font-size: 7rem;
    }
}

@media screen and (max-width: 480px) {
    .banner h1 {
        font-size: 6rem;
    }

    .banner .never {
        font-size: 6rem;
    }
}

@media screen and (max-width: 430px) {
    .banner h1 {
        font-size: 5rem;
    }

    .banner .never {
        font-size: 5rem;
    }
}

@media screen and (max-width: 360px) {
    .banner h1 {
        font-size: 4rem;
    }

    .banner .never {
        font-size: 4rem;
    }
}

@media screen and (max-width: 345px) {
    .banner h1 {
        font-size: 3.5rem;
    }

    .banner .never {
        font-size: 3.5rem;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.nav-active {
    transform: translateX(0%);
}


/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10em;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    cursor: none;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}